.container-inner {
    margin-top: 40px;
    padding: 0 16px;
    text-align: center;
}

.work-status {
    display: inline-block;
    color: #696969;
    border-radius: 50px;
    background-color: #D9D9D9;
    padding: 4px 16px;
}

.work-day {
    font-size: 28px;
    margin: 24px auto 8px;
}

.current-time {
    font-weight: bold;
    font-size: 72px;
}

.attendance_link {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px 40px;
    margin-top: 32px;
}

.attendance_link--white {
    display: inline-block;
    text-decoration: none;
    background-color: #D9D9D9;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px 40px;
    margin-top: 32px;
}

.rest_start {
    margin-left: 16px;
}

.attendance-message {
    font-weight: bold;
    margin-top: 32px;
}

@media (max-width: 768px) {
    .work-day {
        font-size: 22px;
    }

    .current-time {
        font-size: 56px;
    }

    .attendance_link,
    .attendance_link--white {
        padding: 12px 32px;
    }
}
